
/* ZOOM */

/* Move It Bot */ #chat-messages .id-5394376 .badge-box:hover ,/* Shadow Slayer */ #chat-messages .id-4080795 .badge-box:hover ,/* -Branca de Neve- */ #chat-messages .id-6511093 .badge-box:hover ,/* Chkistie */ #chat-messages .id-27067405 .badge-box:hover ,/* Bactéria */ #chat-messages .id-5039941 .badge-box:hover ,/* Luquinhas */ #chat-messages .id-5765109 .badge-box:hover ,/* Agua */ #chat-messages .id-631725 .badge-box:hover ,/* Mtοs */ #chat-messages .id-4656127 .badge-box:hover ,/* -Sabotage- */ #chat-messages .id-3851265 .badge-box:hover ,/* Abertinha */ #chat-messages .id-5671563 .badge-box:hover ,/* Gunnerdead */ #chat-messages .id-4103684 .badge-box:hover ,/* -Soul♂ */ #chat-messages .id-5631973 .badge-box:hover ,/* -Dashing Love */ #chat-messages .id-4925119 .badge-box:hover ,/* Daynana */ #chat-messages .id-20472203 .badge-box:hover ,/* Lucas.Maia ॐ */ #chat-messages .id-3725627 .badge-box:hover ,/* Vírus */ #chat-messages .id-6202831 .badge-box:hover ,/* Thalesxcx */ #chat-messages .id-3781336 .badge-box:hover ,/* 😁❤️Liil-Uzi-Vert-❤️😁 */ #chat-messages .id-29873102 .badge-box:hover ,/* FarinhaDeTriGo */ #chat-messages .id-3443587 .badge-box:hover ,/* Felipenor */ #chat-messages .id-28664768 .badge-box:hover ,/* General Blue */ #chat-messages .id-5818382 .badge-box:hover ,/* ▲๖ۣۜDaniel๖ۣۜMcCartney▲ */ #chat-messages .id-3742812 .badge-box:hover ,/* HaTenten */ #chat-messages .id-28172663 .badge-box:hover ,/* mahgamee */ #chat-messages .id-14120237 .badge-box:hover ,/* Aw, HeNKzy爱! */ #chat-messages .id-21759495 .badge-box:hover ,/* ArapucaMan */ #chat-messages .id-3180606 .badge-box:hover ,/* D0RIT0S */ #chat-messages .id-3905933 .badge-box:hover ,/* Apoena */ #chat-messages .id-29992149 .badge-box:hover ,/* sousabiiel :) */ #chat-messages .id-4031228 .badge-box:hover ,/* Arunu */ #chat-messages .id-30107056 .badge-box:hover ,/* Leandrohp009 */ #chat-messages .id-30992159 .badge-box:hover ,/* Lukkeyy */ #chat-messages .id-25643054 .badge-box:hover ,/* DgUDSON */ #chat-messages .id-35045181 .badge-box:hover ,/* MrAppleLol */ #chat-messages .id-1 .badge-box:hover ,/* moicano */ #chat-messages .id-4772673 .badge-box:hover ,/* Leandro_Magrim */ #chat-messages .id-32291773 .badge-box:hover ,/* pennywisex */ #chat-messages .id-10943218 .badge-box:hover ,/* EઽƬEWEઽ */ #chat-messages .id-29027247 .badge-box:hover ,/* Mr.Mtos */ #chat-messages .id-32380050 .badge-box:hover ,/* Izzye */ #chat-messages .id-35374227 .badge-box:hover ,/* 킴철-kim-chul */ #chat-messages .id-1 .badge-box:hover ,/* uykguy */ #chat-messages .id-7876 .badge-box:hover ,/* AquarianoGrey */ #chat-messages .id-1 .badge-box:hover ,/* VAL SANTOS */ #chat-messages .id-29630986 .badge-box:hover ,/* ᴊʜᴏɴᴍᴀx ♫ */ #chat-messages .id-35652805 .badge-box:hover ,/* GustavoGeu */ #chat-messages .id-24908242 .badge-box:hover ,/* Darknis02 */ #chat-messages .id-34354951 .badge-box:hover ,/* Darknis02 */ #chat-messages .id-34354951 .badge-box:hover ,/* - Vítxr Jxsé - */ #chat-messages .id-4404834 .badge-box:hover ,/* Stefany Styles */ #chat-messages .id-4508056 .badge-box:hover ,/* 𝓶𝒆𝓵 */ #chat-messages .id-3423485 .badge-box:hover ,/* tominoshell */ #chat-messages .id-36067110 .badge-box:hover ,/* Esse_Cara_245 */ #chat-messages .id--35045277 .badge-box:hover ,/* lucasmatosdm2 */ #chat-messages .id-1052996 .badge-box:hover ,/* Allianz */ #chat-messages .id-6234237 .badge-box:hover ,/* Vivi Granger */ #chat-messages .id-7 .badge-box:hover ,/* JoãoSchmidt */ #chat-messages .id-28394366 .badge-box:hover ,/* ŁƗŁ ƤΔΜƤ€Ř2 */ #chat-messages .id-30962958 .badge-box:hover ,/* - Kenner */ #chat-messages .id-25007571 .badge-box:hover ,/* Mari-18 */ #chat-messages .id--6 .badge-box:hover ,/* ▲''Zamas"▲ */ #chat-messages .id-32291773 .badge-box:hover ,/* Zamas */ #chat-messages .id-32291773 .badge-box:hover ,/* nome-padrao */ #chat-messages .id-00000000 .badge-box:hover { width: 65px; height: 65px; transition: 0.5s;  } 


/* FOTOS */


/* Move It Bot */ #chat-messages .id-5394376 .badge-box i.bdg, .id-5394376 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/1/5a73c82962bd4-bpfull.png); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Shadow Slayer */ #chat-messages .id-4080795 .badge-box i.bdg, .id-4080795 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/3/5a7329a9ef379-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* -Branca de Neve- */ #chat-messages .id-6511093 .badge-box i.bdg, .id-6511093 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/19/5a73546b6f36e-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Chkistie */ #chat-messages .id-27067405 .badge-box i.bdg, .id-27067405 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/22/5a73254c19d6a-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Bactéria */ #chat-messages .id-5039941 .badge-box i.bdg, .id-5039941 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/23/5a9c8593033d8-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Luquinhas */ #chat-messages .id-5765109 .badge-box i.bdg, .id-5765109 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/31/5a749b3b0b766-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Agua */ #chat-messages .id-631725 .badge-box i.bdg, .id-631725 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/37/5a732451cec0a-bpfull.png); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Mtοs */ #chat-messages .id-4656127 .badge-box i.bdg, .id-4656127 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/39/5a812fc556f0f-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* -Sabotage- */ #chat-messages .id-3851265 .badge-box i.bdg, .id-3851265 .no-badge i { background-image: url(//www.gravatar.com/avatar/2162fa4f13f5c663381708ddd723c4fc?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Abertinha */ #chat-messages .id-5671563 .badge-box i.bdg, .id-5671563 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/41/5a7322d8498f4-bpfull.png); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Gunnerdead */ #chat-messages .id-4103684 .badge-box i.bdg, .id-4103684 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/49/5a7327a91e6c0-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* -Soul♂ */ #chat-messages .id-5631973 .badge-box i.bdg, .id-5631973 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/53/5a779c9e6a717-bpfull.png); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* -Dashing Love */ #chat-messages .id-4925119 .badge-box i.bdg, .id-4925119 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/56/5a9358833195f-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Daynana */ #chat-messages .id-20472203 .badge-box i.bdg, .id-20472203 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/87/5a770ce28f950-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Lucas.Maia ॐ */ #chat-messages .id-3725627 .badge-box i.bdg, .id-3725627 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/91/5a87413c13ab1-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Vírus */ #chat-messages .id-6202831 .badge-box i.bdg, .id-6202831 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/93/5ab268e97b1ff-bpfull.png); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Thalesxcx */ #chat-messages .id-3781336 .badge-box i.bdg, .id-3781336 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/174/5a9b4bfb519db-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* 😁❤️Liil-Uzi-Vert-❤️😁 */ #chat-messages .id-29873102 .badge-box i.bdg, .id-29873102 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/269/5a9ac1c0ea133-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* FarinhaDeTriGo */ #chat-messages .id-3443587 .badge-box i.bdg, .id-3443587 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/313/5a91c5cfd9ebd-bpfull.png); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Felipenor */ #chat-messages .id-28664768 .badge-box i.bdg, .id-28664768 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/314/5a727faf43a18-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* General Blue */ #chat-messages .id-5818382 .badge-box i.bdg, .id-5818382 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/325/5a726418161fc-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* ▲๖ۣۜDaniel๖ۣۜMcCartney▲ */ #chat-messages .id-3742812 .badge-box i.bdg, .id-3742812 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/337/5a732606e16a1-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* HaTenten */ #chat-messages .id-28172663 .badge-box i.bdg, .id-28172663 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/338/5aa5d0be3673b-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* mahgamee */ #chat-messages .id-14120237 .badge-box i.bdg, .id-14120237 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/342/5a77ba1deef91-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Aw, HeNKzy爱! */ #chat-messages .id-21759495 .badge-box i.bdg, .id-21759495 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/366/5a732837c83e7-bpfull.png); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* ArapucaMan */ #chat-messages .id-3180606 .badge-box i.bdg, .id-3180606 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/373/5a7328f6d104e-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* D0RIT0S */ #chat-messages .id-3905933 .badge-box i.bdg, .id-3905933 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/374/5ab55ac21e627-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Apoena */ #chat-messages .id-29992149 .badge-box i.bdg, .id-29992149 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/379/5a7360ad2fe2e-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* sousabiiel :) */ #chat-messages .id-4031228 .badge-box i.bdg, .id-4031228 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/380/5a73628539678-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Arunu */ #chat-messages .id-30107056 .badge-box i.bdg, .id-30107056 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/381/5a735fd8badc7-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Leandrohp009 */ #chat-messages .id-30992159 .badge-box i.bdg, .id-30992159 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/382/5a7361ffd242b-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Lukkeyy */ #chat-messages .id-25643054 .badge-box i.bdg, .id-25643054 .no-badge i { background-image: url(//www.gravatar.com/avatar/ea1bffa30c8deccc2731210177e85767?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* DgUDSON */ #chat-messages .id-35045181 .badge-box i.bdg, .id-35045181 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/384/5a7a3ecb0a1f7-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* MrAppleLol */ #chat-messages .id-1 .badge-box i.bdg, .id-1 .no-badge i { background-image: url(//www.gravatar.com/avatar/8925b8024320b24e0df1fc3a9dd46ffa?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* moicano */ #chat-messages .id-4772673 .badge-box i.bdg, .id-4772673 .no-badge i { background-image: url(//www.gravatar.com/avatar/33069b4558a2d82800c94f5774772978?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Leandro_Magrim */ #chat-messages .id-32291773 .badge-box i.bdg, .id-32291773 .no-badge i { background-image: url(//www.gravatar.com/avatar/f010fb824dd1645e1893e7844b454fef?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* pennywisex */ #chat-messages .id-10943218 .badge-box i.bdg, .id-10943218 .no-badge i { background-image: url(//www.gravatar.com/avatar/44a7e6c12a6c427e5924ae2779988c7f?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* EઽƬEWEઽ */ #chat-messages .id-29027247 .badge-box i.bdg, .id-29027247 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/391/5a81cdae12e8b-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Mr.Mtos */ #chat-messages .id-32380050 .badge-box i.bdg, .id-32380050 .no-badge i { background-image: url(//www.gravatar.com/avatar/b6c3192fa7b7f821903eb56a358526b6?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Izzye */ #chat-messages .id-35374227 .badge-box i.bdg, .id-35374227 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/393/5a8618bda63f3-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* 킴철-kim-chul */ #chat-messages .id-1 .badge-box i.bdg, .id-1 .no-badge i { background-image: url(//www.gravatar.com/avatar/0d618c17fe51e6fd1f1c6b24f8ed929e?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* uykguy */ #chat-messages .id-7876 .badge-box i.bdg, .id-7876 .no-badge i { background-image: url(//www.gravatar.com/avatar/53a071f239ba95e8f67ff90301f9ef1d?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* AquarianoGrey */ #chat-messages .id-1 .badge-box i.bdg, .id-1 .no-badge i { background-image: url(//www.gravatar.com/avatar/c04dc1f7d13457802109e7d9d40f1ad2?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* VAL SANTOS */ #chat-messages .id-29630986 .badge-box i.bdg, .id-29630986 .no-badge i { background-image: url(//www.gravatar.com/avatar/cc90aa2e59220032a904b87ac88bbdcf?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* ᴊʜᴏɴᴍᴀx ♫ */ #chat-messages .id-35652805 .badge-box i.bdg, .id-35652805 .no-badge i { background-image: url(//www.gravatar.com/avatar/2f32eec565a23817195b826f2beb48b4?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* GustavoGeu */ #chat-messages .id-24908242 .badge-box i.bdg, .id-24908242 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/399/5a94c53a3a384-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Darknis02 */ #chat-messages .id-34354951 .badge-box i.bdg, .id-34354951 .no-badge i { background-image: url(//www.gravatar.com/avatar/bac8cc6ac6a13b4e30701e18f27719c0?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Darknis02 */ #chat-messages .id-34354951 .badge-box i.bdg, .id-34354951 .no-badge i { background-image: url(//www.gravatar.com/avatar/bac8cc6ac6a13b4e30701e18f27719c0?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* - Vítxr Jxsé - */ #chat-messages .id-4404834 .badge-box i.bdg, .id-4404834 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/402/5a9c3ae5522ff-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Stefany Styles */ #chat-messages .id-4508056 .badge-box i.bdg, .id-4508056 .no-badge i { background-image: url(//www.gravatar.com/avatar/001fccc64ed4d280fe3064488fcd75d7?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* 𝓶𝒆𝓵 */ #chat-messages .id-3423485 .badge-box i.bdg, .id-3423485 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/404/5a9f7289e1ace-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* tominoshell */ #chat-messages .id-36067110 .badge-box i.bdg, .id-36067110 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/405/5aa6e32c4cad4-bpfull.png); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Esse_Cara_245 */ #chat-messages .id--35045277 .badge-box i.bdg, .id--35045277 .no-badge i { background-image: url(//www.gravatar.com/avatar/c85833446967b419c6956d8a26a3ea8f?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* lucasmatosdm2 */ #chat-messages .id-1052996 .badge-box i.bdg, .id-1052996 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/407/5aac9ba1e9c9a-bpfull.png); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Allianz */ #chat-messages .id-6234237 .badge-box i.bdg, .id-6234237 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/408/5ab275633534e-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Vivi Granger */ #chat-messages .id-7 .badge-box i.bdg, .id-7 .no-badge i { background-image: url(//www.gravatar.com/avatar/ff40bafdfd785514ebcb55f778d522e3?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* JoãoSchmidt */ #chat-messages .id-28394366 .badge-box i.bdg, .id-28394366 .no-badge i { background-image: url(//www.gravatar.com/avatar/009e124630413a826837598d271dcb1a?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* ŁƗŁ ƤΔΜƤ€Ř2 */ #chat-messages .id-30962958 .badge-box i.bdg, .id-30962958 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/411/5ab47580dae62-bpfull.jpg); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* - Kenner */ #chat-messages .id-25007571 .badge-box i.bdg, .id-25007571 .no-badge i { background-image: url(http://moveitbrasil.ga/wp-content/uploads/avatars/412/5ab67e7377941-bpfull.png); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Mari-18 */ #chat-messages .id--6 .badge-box i.bdg, .id--6 .no-badge i { background-image: url(//www.gravatar.com/avatar/078ff11eb79004462a106a9b84a461be?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* ▲''Zamas"▲ */ #chat-messages .id-32291773 .badge-box i.bdg, .id-32291773 .no-badge i { background-image: url(//www.gravatar.com/avatar/14f1663c8b6013251613291547b2943e?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* Zamas */ #chat-messages .id-32291773 .badge-box i.bdg, .id-32291773 .no-badge i { background-image: url(//www.gravatar.com/avatar/9a4cd59b36d1b687aba3103d494c6d6c?s=96&#038;r=g&#038;d=mm); background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} /* nome-padrao */ #chat-messages .id-00000000 .badge-box i.bdg { background-image: url(#gravatar-padrao);  background-size: cover; width: 100%; height: 100%; background-position: initial; } 


/* GIFs VIPs */
	
		
		
	#chat-messages .id-4080795 .badge-box i.bdg, .id-4080795 .no-badge i { background-image: url(https://i.imgur.com/CiHTaY6.gif)!important; background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} 	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	#chat-messages .id-5039941 .badge-box i.bdg, .id-5039941 .no-badge i { background-image: url(https://i.imgur.com/HZvfUQ1.gif)!important; background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} 	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	#chat-messages .id-4103684 .badge-box i.bdg, .id-4103684 .no-badge i { background-image: url(https://imgur.com/8XVTEO1)!important; background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} 	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	#chat-messages .id-20472203 .badge-box i.bdg, .id-20472203 .no-badge i { background-image: url(https://i.imgur.com/Rg6kwuX.gif)!important; background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} 	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	#chat-messages .id-3742812 .badge-box i.bdg, .id-3742812 .no-badge i { background-image: url(https://i.imgur.com/BmAfhQS.gif)!important; background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} 	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	#chat-messages .id-21759495 .badge-box i.bdg, .id-21759495 .no-badge i { background-image: url(https://imgur.com/iubcM0v.gif)!important; background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} 	
		
		
		
		
		
		
	#chat-messages .id-3180606 .badge-box i.bdg, .id-3180606 .no-badge i { background-image: url(https://images.rapgenius.com/ed5ad6fccf9e42a14d3cba5304cadebe.500x300x19.gif)!important; background-size: cover; width: 100%; height: 100%; background-position: initial; position: absolute; top: 0px; left: 0px; border: 0px solid #444A59; border-radius: 0; background-size: cover; width: 100%; height: 100%; background-position: initial;} 	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	